@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

:root{
    --background: linear-gradient(135deg, #667eea7e 0%, #764ba298 100%);
    --color-primary: #667eea;
    --color-secondary: #764ba2;
    --boton-padding: 20px 40px;
}

body{
    font-family: 'Raleway', sans-serif;
}

.container{
    padding: 80px 0;
}

.subtitle{
    color: var(--color-primary);
    font-size: 2.5rem;
    margin-bottom: 35px;
}

.hero{
    background-image: var(--background), url('../img/fondoinicio.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
}

.habout{
    background-image: var(--background), url('../img/fondosobremi.jpeg');
}

.hcontact{
    background-image: var(--background), url('../img/fondocontacto.jpg');
}

.navbar{
    background: linear-gradient(135deg, #667eea7e 0%, #764ba298 100%);
}

.btn{
    background: #fff;
    border-color: #764ba2;
    color: var(--color-primary);
    border-radius: 40px;
}

.hero__wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
}

.social{
    height: 300px;
    width: 300px;
}
.sli{
    transform: translate(-110px);
    background: linear-gradient(135deg, #764ba298 0%, #667eea7e 100%);
    transition: .5s;
    border-radius: 0 200px 200px 0;
}
.sli:hover:nth-child(1){
    background: #db4a39;
}
.sli:hover:nth-child(2){
    background: #00bb2d;
}
.sli:hover:nth-child(3){
    background: #1877f2;
}
.sli:hover:nth-child(4){
    background: #ff0080;
}
.sli:hover{
    transform: translateX(0);
}
.sa{
    text-decoration: none;
}
i{
    border-radius: 50%;
    color: #000;
    background: #fff;
}
.google{
    position: relative;
    left: 45px;
}
.whatsapp{
    position: relative;
    left: 23px;
}
.facebook{
    position: relative;
    left: 23px;
}
.instagram{
    position: relative;
    left: 23px;
}


/*About*/

.presentation{
    padding-top: 0;
    text-align: center;
}

.presentation__picture{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover;
    object-position: top;
}

.presentation__copy{
    width: 80%;
    margin: 0 auto;
}

.presentation__cta{
    display: inline-block;
    margin-top: 30px;
    background: var(--color-primary);
    color: #fff;
    text-decoration: none;
    padding: var(--boton-padding);
    border-radius: 40px;
}

.about{
    min-height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 80px;
    justify-items: center;
    align-items: center;
}

.about__img{
    text-align: center;
}

.about__img--left{
    text-align: left;
}

.about__picture{
    max-width: 60%;
    border-radius: 30%;
}

.about__paragraph{
    margin-bottom: 20px;
    line-height:  1.5;
    font-weight: 300;
}

/*projets*/

.projects{
    background: #f2f2f2;
}

.carousel-caption{
    background: #dc143c8c;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.carousel-item:hover .carousel-caption{
    transform: translateX(0%);
}

.projects__icon{
    margin-top: 10px;
    font-size: 30px;
}

/*like*/

.like__grid{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.like__item{
    width: 95%;
    margin: 0 auto;
    background: var(--color-secondary);
    box-shadow: 0 8px 10px rgba(66,66,66, .5);
    border-radius: 7px;
    padding: 30px 25px;
    color: #fff;
    margin-bottom: 50px;
}

.like__it{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.like__img{
    width: 150px;
    min-width: 100px;
    height: 150px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    border: 3px solid #fff;
    margin-right: 30px;
}

.like__name{
    font-size:  2rem;
    margin-bottom: 10px;
}

/*Contact*/

.contact__grid{
    width: 100%;
    display: grid;
    grid-template-areas: 
    "img1 img2 img3";
    gap: 30px;
}

.contact__item{
    width: 95%;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0 8px 10px rgba(66,66,66, .5);
    border-radius: 7px;
    padding: 30px 25px;
    color: #fff;
    margin-bottom: 50px;
    border: 1px solid #764ba2;
}

.contact__it{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.contact__name{
    font-size:  2rem;
    margin-bottom: 10px;
    color: #764ba2;
    margin-left: 40px;
}

.form{
    background: var(--color-secondary);
    box-shadow: 0 8px 10px rgba(66,66,66, .5);
    border-radius: 7px;
    padding: 30px 25px;
    color: #fff;
    margin-bottom: 50px;
}

/*footer*/

.footer{
    background: var(--color-primary);
}

.copy__footer{
    color: #fff;
}

.footer__grid{
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 20px;
    align-items: center;
}

.footer__title{
    font-weight: 400;
    color:#fff;
    font-size: 2rem;
    margin-bottom: 30px;
    text-align: center;
}

.footer__icons{
    display: flex;
    justify-content: space-evenly;
}

.footer__container-icons{
    display: inline-block;
    width: 60px;
    height: 60px;
    color: #fff;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 50%;
}

.footer__icon{
    color:inherit;
    font-size: 30px;
    text-decoration: none;
    line-height: 60px;
}

.fab.footer__icon{
    line-height: 60px;
}
